<div class = "about">
<h2>About Around the Globe</h2>
<p>Around the Globe is a website founded by those who love travel and would want to share their experiences with others! You can be a part of this community too! Just become a member of the site (it's free) and start posting your favourite photos of your travels!</p>
</div>