
<h2>Want to get into contact with us?</h2>
<p>If you have any questions about the site or suggestions for improvement, please let us know.</p>


<form action="/messages" method="post">

    <label for="subject">Your message</label>
    <div class="subject">
    <textarea id="subject" name="content" placeholder="Write something.." style="height:200px"></textarea>
    </div>
    <div class="submit">
    <input type="submit" value="Submit">
    </div>

</form>

