
<div class="addimagebtn">
<form action="/" method="post">
<button>Add image</button>
</form>
</div>

<div class="row"> 

<% @photos.each do |photo| %>
<div class="column">
  <a href ="/photos/<%=photo["id"]%>"><img src = "<%=photo["image_url"]%>" style="width:100%">
  </a>
</div>
<% end %>
</div>

