<h3> Welcome NAME! </h3>

<h2>Most popular albums right now</h2>
<h2>Your albums</h2>

<form action="/" method="post">
<button>Add new album</button>
</form>

<form action="/" method= "post">
    <input type="hidden" name= "_method" value= "delete">
    <input type="hidden" name="id" value="">
    <button>Delete album</button>
</form>