<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Around the Globe</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
<body>
  <h1>Around the Globe</h1>
  <nav>
    <a href ="/">Home</a>
    <a href ="/About">About</a>
    <a href ="/Contact">Contact</a><br/>
  
  <form action="/session" method = "post">
    <input type='hidden' name='_method' value='delete'>
    <button>logout</button>
  </form>
  </nav>
  <%= yield %>

</body>
</html>