<div class = "outside">
  <div class="container">
  <form action="/session" method="post">
  <h3>Please log in</h3>

      <label for="">Username</label>
      <input name="name" type="text"><br/>
      
      <label for="">Password</label> 
      <input name="password" type="password">
      <div class="loginbtn">
        <button>login</button>
      </div>
      <div class="signup">
      <a href = "/login/signup">Sign up</a></div>
      </div>
  </form>
  </div>
</div>