<div class="container">
<form action="/session" method="post">
<h3>Please log in</h3>

    <label for="">Username</label>
    <input name="name" type="text">
    <label for="">Email</label>
    <input name="email" type="text">
    <label for="">Password</label>
    <input name="password" type="password">
  <button>login</button>
  <a href = "">Sign up</a>

</form>
</div>