<h2>Create new album</h2>

<form action="" method="post">
<label for="">Name of album</label>
  <input name="album" type="text">
<label for="">Where are the photos taken?</label>
  <textarea name="content"></textarea>
<label for=""></label>
   Upload photos: <input type="file" name="img" multiple>
<button>Submit</button>
</form>