<form action="/login/signup" method="post">
<h3>Hello there! We are glad you are joining us.</h3>

<label for="">Username</label>
  <input name="name" type="text">
<label for="">Email</label>
  <input name="email" type="text">
<label for="">Password</label>
  <input name="password" type="password">
<button>Create Account</button>
</form>
</div>