body h1 {
  font-family: 'Viga', sans-serif;
  text-align: center;
}

body {
  font-family: 'Nunito', sans-serif;
}

.heading {
  position: relative;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  size: 60px;
}

.wrap {
  background-color: black;
  color: white;
}

body nav {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  text-align: center;
 
}

body nav a {
  display: inline-block;
  color: #666;
  padding: 14px 16px;
  text-decoration: none;
}

body nav a:hover:not(.active) {
  background-color: #ddd;
}

body nav a.active {
  color: white;
  background-color: grey;
}


.container {
  display: inline-block;
  border: 2px solid black;
  width: 400px;
  height: 280px;
  margin: auto;
  padding: 10px;
}

form {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;

}

label {
  display: inline-block;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 14px;
}

.photo {
  display: flex;
  align-content: center;
}

.photo a{
  text-decoration: none;
}

.login {
  float: right;
}

.grid {
  font-size: 0;
  flex-flow: row wrap; 
  display: flex;
 

}

.grid img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height:80%;
  width: 100%;
 
}

.subject {
  display: block;
}

.submit {
  display: block;
}

.newImage {
  display: block;
}

.newPhoto {
  display: block;
}

.new a {
  display: block;
}

.delete {
  display: block;
}

.comment p {
  display: inline;
}