.wrap h1 {
  margin: 0;
}

.wrap h1 {
  font-family: 'Viga', sans-serif;
  text-align: center;
}

body {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}


.heading {
  position: relative;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  size: 60px;
}

.wrap {
  background-color: black;
  color: white;
}

body nav {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  text-align: center;
 
}

body nav a {
  display: inline-block;
  color: #666;
  padding: 14px 16px;
  text-decoration: none;
}

body nav a:hover:not(.active) {
  background-color: #ddd;
}

body nav a.active {
  color: white;
  background-color: grey;

}

.outside {
  background-image: url("/stylesheets/images/alps.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.container {
  display: block;
  width: 500px;
  height: 450px;
  margin: 0 auto;
  padding: 20px;
  font-size: 18px;
  background-color: white;
  opacity: 0.7;
}

@media screen and (max-width: 500px) {
  .container {
    text-align: left;
  }
}


form {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;

}

label {
  display: inline-block;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 16px;
}

.photo {
  display: flex;
  align-content: center;
}

.photo a{
  text-decoration: none;
}

.login {
  float: right;
}

.login p {
  display: inline;
}

.subject {
  display: block;
}

.submit {
  display: block;
}

.new {
  text-align: left;
  margin: 0 auto;
  width: 500px;
}

.newImage {
  display: block;
}

.newPhoto {
  display: block;
}

.new a {
  display: block;
}

.new button {
  background-color: black;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.new button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.delete {
  display: block;
}

.postcomment button {
  background-color: black;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin-top: 20px;
}


.postcomment button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.comment table {
  margin: 0 auto;
}

.comment table td, th {
  padding: 10px;
}


.comment th {
  font-style: bold;
}

.comment {
  text-align: left;
}

.loginbtn {
 position: relative;
 right: -39%;
}

.loginbtn button {
  font-size: 14px;
}

@media screen and (max-width: 500px) {
.loginbtn button  {
  position: relative;
  right: -40%;
 }
}

.signup {
  padding: 15px;
  font-size: 20px;
}


.signup a {
  color: black;
  font-weight: bold;
}

.addimagebtn {
  position: relative;
  left: 45%
}


.addimagebtn button {
  background-color: black;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.addimagebtn button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .addimagebtn button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .addimagebtn button {
    font-size: 12px;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 500px) {
  .addimagebtn button {
    font-size: 10px;
    padding: 3px 3px;
  }
}

.delete {
  position: relative;
  left: 45%
}

.delete button {
  background-color: black;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.delete button:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .delete button {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .delete button {
    font-size: 10px;
    padding: 5px 15px;
  }
}

@media screen and (max-width: 500px) {
  .delete button {
    font-size: 8px;
    padding: 3px 2px;
  }
}

.contact {
  padding: 10px;
  margin: 0 auto;
  width: 700px;
  height: auto;
  text-align: left;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

/* Create equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
  padding: 0px;
  margin: 0 auto;
}

.column img {
  margin-top: 8px;
  height: auto;
}

.column img:hover {
  transform: scale(1.5); 
}

/* Responsive layout - makes a two column-layout */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.warning {
  color: red;
  font-size: 20px;
}

.like {
  display: block;
  position: relative;
  left: 29%
}

.about {
  text-align: left;
  padding: 20px;
}

footer p {
  bottom:0;
  text-align: center;
  width: 100%;
}