body h1 {
  font-family: 'Viga', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
}

.container {
  display: inline-block;
  border: 2px solid black;
  width: 400px;
  height: 280px;
  top: 50%;
  left: 50%;
}

form {
  display: inline-block;
  margin: 0 auto;
  margin-top: 20px;

}

label {
  display: inline-block;
  margin-left: 18px;
  padding-top: 10px;
  font-size: 14px;
}